.calendar-events {
    display: none;
}
.eventImg {
    height: 200px;
    width: 200px;
    border: 2px black solid;
    padding: 0;
}
.calendar-btn {
    width: 105px;
}
.SimilarFreeTime {
    margin: 5px;
}
.calendar-item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border: 2px rgba(29, 29, 29, 0.705) solid;
    border-radius: 3px;
    height: 55px;
    margin-top: 5px;
}
.chosen-time {
    background: green;
}
.blank-time {
    background: white;
}