.calendar-display {
    border-radius: 4px;
    display: none;
}
.eventImg {
    height: 200px;
    width: 200px;
    border: 2px black solid;
    padding: 0;
}
.calendar-btn {
    width: 105px;
}
.SimilarFreeTime {
    margin: 5px;
}
.calendar-item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}